.app{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
flex-direction: column;
}
.btn__submit{
background-color: red;
border: none;
cursor: pointer;
padding: 5px;
margin: 10px;
width: 100px;
color: white;
flex: 1;
border-radius: 5px;
}
.btn__submit:hover{
    box-shadow: 1px 1px 8px 1px rgb(212, 103, 103);

}
.btn__reset{
  background-color: rgb(130, 36, 253); 
  border: none;
  cursor: pointer;
  padding: 5px;
  margin: 10px;
  width: 100px;
  color: white;
flex: 1;
border-radius: 5px;

}
.btn__reset:hover{
    
    box-shadow: 1px 1px 8px 1px rgb(161, 188, 232); 
}
.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}